/* ///////////////////////// Global ///////////////////////// */
@font-face {
    font-family: 'Liberation';
    src: url(../fonts/LiberationSans-Bold-webfont.ttf);
    src: url(../fonts/LiberationSans-Regular-webfont.ttf);
}
*{
    font-family: 'Liberation', sans-serif;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    text-decoration: none;
}
strong{
	font-weight:normal;
}
/* ///////////////////////// Header ///////////////////////// */
header{
    width: 100%;
    padding-top: 2%;
    background-image: url(../images/background.jpg);
    box-shadow: 0 3px 5px 3px rgba(0,0,0,1);
}
header > section{
    justify-content: space-between;
}
header > section > div:first-of-type{
    align-items: flex-start;
    margin-bottom: 1%;
}
header > section > div:last-of-type{
    align-items: flex-end;
}
.primary-nav{
    text-align: center;
    margin-bottom: 5%;
}
.primary-nav > ul {
    display: inline-block;
    text-decoration: none;
}
.primary-nav > ul > li{
    position: relative;
    list-style: none;
    margin: 0 0 0 20px;
    cursor: pointer;
}
.primary-nav > ul > li > a{
    text-decoration: none;
}
.test{
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.margin-top{
    margin-top: 5%;
}
/* ///////////////////////// main ///////////////////////// */
main{
    margin: 0% 20% 0% 20%;
}
section.main-box-container{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.box-items{
    margin: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* article gant de boxe */
.main-box-img {
    width: 100%;
}
.legende-img {
    position: relative;
    text-align: center;
    font-weight: normal;
}
.box-section {
    padding: 3% 5% 2% 5%;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
article {
    padding: 0% 3% 3% 3%;
    margin: 0 auto 80px;
    max-width: 1000px;
    position: relative;
}
.reduc {
    padding: 2% 3% 2% 3%;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    background-color: black;
    color: #EA9F05;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    right: -20px;
}
.legende-img {
    position: relative;
    bottom: 30px;
    left: 10px;
}
.old-price {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}
.new-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #EA9F05;
}
.desc-article {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.box-section-p-btn {
    background-color: black;
    color: #F3F3F3;
    padding: 2% 12% 2% 12%;
    text-align: center;
    font-weight: normal;
}
/* ///////////////////////// Footer ///////////////////////// */
footer{
    padding: 2% 7% 2% 7%;
    position: absolute;
}
/* //////// CSS menu navigation footer //////// */
.footer-nav-container{
    align-items: center;
    text-align: center;
}
.footer-menunav {
    padding: 1%;
    position: absolute;
    top: -5%;
    width: 27%;
    background-color: #FFF;
    border-radius: 10px;
    text-align: center;
    left: 35.5%;
}
.footer-menunav ul {
    padding: 0.1%;
    bottom: -20px;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-menunav li {
    align-self: center;
}
/* //////// CSS menu  brand footer //////// */
.footer-brand-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3% 15% 0% 15%;
}
.footer-brand-items{
    align-items: center;
    text-align: center;
    padding: 0% 2%;
}
/* //////// CSS menu reseaux sociaux footer //////// */
.footer-social-container{
    text-align: center;
    align-items: center;
    margin: 0% 15% 0% 15%;
}
.footer-social-container nav{
    text-align: center;
}
.footer-social-container nav ul {
    display: inline-block;
    text-decoration: none;
}
.footer-social-container nav ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
.footer-social-container nav ul li a {
    text-decoration: none;
}
/* //////// CSS copyrights //////// */
.footer-copyrights-container{
    margin: 2% 15% 0% 15%;
    text-align: center;
}
/* ///////////////////////// BIBLIOTHEQUE ///////////////////////*/
/* //////////////// Text  //////////////// */
.header-text{
    font-size: 23px;
    font-weight: normal;
}
/* //////////////// Conteneur  //////////////// */
.container{
    width: 60%; 
    margin: auto
}
.container-mobile{
    display: none;
}
/* //////////////// Display //////////////// */
.flex {
    display: flex;
}
.inline {
    display: inline;
}
/* //////////////// Colors //////////////// */
.color-white{
    color: white;
}
.color-black{
    color: black;
}
.color-orange{
    color: #EA9F05;
}
.icon-color{
    color: #808080;
}
.color-gray-point{
    color: #d2d2d2;
}
/* //////////////// bg-colors //////////////// */
.bg-primary-main-color{
    background-color: #F3F3F3;
}
.bg-primary-footer-color{
    background-color: #373737;
}
.bg-primary-body-color{
    background-color: #1C1C1C;
}
.bg-color-white{
    background-color: #FFF;
}
/* //////////////// Separator //////////////// */
/* Dashed border */
hr.dashed {
    margin: 2% 15% 2% 15%;
    border-top: 3px dashed;
    border-color: #808080;
} 
/* Dotted border */
hr.dotted {
    margin: 2% 15% 2% 15%;
    border-top: 3px dotted;
    border-color: #808080;
} 
/* Solid border */
hr.solid {
    margin: 2% 15% 2% 15%;
    border-top: 3px solid;
    border-color: #808080;
}
/* ///////////////////////// MEDIA ///////////////////////*/
@media (max-width : 768px) {
    main{
        margin: 0% 5% 0% 5%;
    }
    /* header */
    .header-text{
        font-size: 21px;
        font-weight: normal;
    }
    header{
        padding: 2% 1% 0% 1%;
        background-image: url(../images/background.jpg);
        box-shadow: 0 3px 5px 3px rgba(0,0,0,1);
    }
    header > section{
        justify-content: center;
        flex-direction: column;
    }
    header > section > div:first-of-type{
        align-items: center;
        margin-bottom: 1%;
    }
    header > section > div:last-of-type{
        align-items: center;
    }
    .primary-nav{
        display: flex;
        text-align: center;
        margin: 5%;
    }
    .primary-nav > ul {
        display: inline-block;
        text-decoration: none;
    }
    .primary-nav > ul > li{
        position: relative;
        list-style: none;
        cursor: pointer;
    }
    .primary-nav > ul > li > a{
        text-decoration: none;
    }
    /* .test{
        flex-direction: column;
        align-items: start; 
        justify-content: center;
    } */
    .margin-top{
        margin-top: 5%;
    }
    /* box items */
    .box-items{
        margin: 2%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .box-section {
        padding: 0%;
        background-color: #F3F3F3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
    }
    article {
        padding: 0%;
        margin: 0 auto 80px;
        max-width: 1000px;
        position: relative;
    }
    footer{
        padding: 5% 1% 5% 1%;
        position: absolute;
    }
    /* //////// CSS menu navigation footer //////// */
    .footer-nav-container{
        align-items: center;
        text-align: center;
    }
    .footer-menunav {
        padding: 2%;
        position: absolute;
        top: -5%;
        width: 80%;
        background-color: #FFF;
        border-radius: 10px;
        text-align: center;
        left: 10%;
    }
    .footer-menunav ul {
        padding: 0.1%;
        bottom: -20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-menunav li {
        align-self: center;
    }
    .footer-menunav ul  li a{
        font-size: 10px;
        font-weight: normal;
    }
    /* Brand */
    .footer-brand-container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2% 7% 0% 7%;
    }
    .footer-brand-items{
        max-width: 40%;
        align-items: center;
        text-align: center;
        padding: 5%;
        font-size: 12px;
    }
    /* Dashed border */
    hr.dashed {
        margin: 2% 5% 2% 5%;
        border-top: 3px dashed;
        border-color: #808080;
    } 
    /* Dotted border */
    hr.dotted {
        margin: 2% 5% 2% 5%;
        border-top: 3px dotted;
        border-color: #808080;
    } 
    /* Solid border */
    hr.solid {
        margin: 2% 5% 2% 5%;
        border-top: 3px solid;
        border-color: #808080;
    }
    .footer-social-container{
        text-align: center;
        align-items: center;
        margin: 7% 15% 7% 15%;
    }
    /* //////// CSS copyrights //////// */
    .footer-copyrights-container{
        margin: 2% 10% 0% 10%;
        text-align: center;
    }
}